
html {
    font-size: 62.5%;
}
body {
font-size: 1.6em;
}
h1{
font-size: 5rem; /* 50px */
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
p{
font-size: 1.5rem; /* 15px */
}
.header{
    background-image:url(<img src=https://hidenorifunabashi.github.io/Portfolio/images/header.jpg alt="">);
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
    background-size: cover;
}
.header-contents{
    margin: 0 auto;
}
.title{
    text-align: center;
    color: white;
    font-family: "游明朝", YuMincho,"メイリオ",Meiryo,serif,sans-serif;
}
.title h1{
    font-size: 9rem;
    margin-bottom: 0;
    font-weight: 800;
}
.title h3{
    font-style: italic;
    margin-top: 0;
}
/* メニューアイコン */
.menu{
    display: flex;
    list-style: none;
    justify-content:space-between;
    font-size: 20px;
    width: 800px;
    margin:0 auto;
    padding:20px 0 50px 0;
}
.menu i{
    font-size: 2.5rem;
}
.menu a{
    font-size: 3rem;
    font-family: "游明朝", YuMincho,"メイリオ",Meiryo,serif,sans-serif;
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
}
a:link, a:visited, a:hover, a:active {
    color:black;
}

/* メイン */
.text-center{
    text-align: center;
}
.section-title{
    text-align: center;
    font-family: "游明朝", YuMincho,"メイリオ",Meiryo,serif,sans-serif;
}
.fa-size{
    font-size:4rem;
    display: block;
    margin-bottom: 20px;
}

/* プロフィール */
.section-content{
    display: flex;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.profile-content{
    width: 400px;
    padding-left:150px;
}
.profile-icon img{
    width: 230px;
}
.sub-section h3{
    font-size: 2.4rem;
    font-family: "游明朝", YuMincho,"メイリオ",Meiryo,serif,sans-serif;
}
/* スキル */
.skil{
    display: flex;
}
.list-ex{
    margin-bottom:0;
}
.list-ex li{
    display: inline-block;
    padding-right:30px ;
}
.list{
    list-style: none;
}
/* WORKS */
.section-works{
    background-color: #c8cbcc;
    width:100%;
}
.works-title{
    padding-top: 40px;
}
.card-wrapper{
    margin: 0 auto;
    height: 500px;
}
.card img{
    height: 300px;
}
.card-caption p{
    margin:0;
    margin-bottom: 16px;
}
.card-caption-title{
    font-family: "游明朝", YuMincho,"メイリオ",Meiryo,serif,sans-serif;
    font-weight: bold;
    font-size: 2rem;
}
.card-caption-info{
    font-size: 13px;
}
/* フッター */
.footer-content{
    padding-bottom:60px;
}
.copylight{
    padding-top:80px;
}
/* ページ先頭に戻るボタン */
.page-top{
	margin: 0;
	padding: 0;
}
.page-top p{
	margin: 0;
	padding: 0;
	position: fixed;
	right: 16px;
	bottom: 16px;
}
.move-page-top{
	display: block;
	background: #9399a0;
	width: 50px;
	height: 50px;
	color: #fff;
	line-height: 50px;
	text-decoration: none;
	text-align: center;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
}
.move-page-top:hover{
	opacity: 0.85;
}

/* スマホ用 */
@media screen and (max-width:480px){ 
    html {
        font-size: 62.5%;
    }
    .title h1{
        font-size: 3.5rem;
        margin-bottom: 0;
        font-weight: 800;
    }
    .title h3{
        font-style: italic;
        margin-top: 0;
        font-size: 2rem;
    }
    
    /* メニュー */
    .menu{
        padding:0 0 0 0 0;
        display: flex;
        justify-content:space-between;
        width: 350px;
        margin:0 auto;
        padding:30px 0 50px 10px;
    }
    .menu a{
        font-size: 1.7rem;
    }
    .menu i{
        font-size: 1.5rem;
    }

    /* メイン */
    .fa-size{
        font-size:3rem;
        display: block;
        margin-bottom: 20px;
    }

    /* プロフィール */
    .section-content{
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .profile-icon{
        text-align: center;
    }
    .profile-content{
        width: 100%;
        padding-left: 20px;
    }
    .sub-section h3{
        text-align: center;
    }

    /* WORKS */
    .card-wrapper {
        height: 450px;
    }
    .card img{
        height: 250px;
        width: 100%;
    }
}
